<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,67},{90,71}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{90,71}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>A2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,63}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{96,63}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>A2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,71}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,71}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>A2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,245},{80,99}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>A2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{88,101}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{88,101}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>A2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,140},{82,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{82,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>A2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{82,99}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{82,99}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>A2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,140},{78,97}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{78,97}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:379d794dcb3d83c87f28988c99932690$</string>
            <key>textureFileName</key>
            <string>A2.png</string>
        </dict>
    </dict>
</plist>
