<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Di_%.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,315},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>Di_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,230},{33,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>Di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,406},{23,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{23,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>Di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,191},{33,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>Di_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,230},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>Di_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{33,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>Di_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,191},{31,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>Di_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{33,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>Di_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,565},{33,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>Di_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,526},{33,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>Di_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,487},{33,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>Ding_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>Ding_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,315},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{32,49}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>Ding_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,299},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>Ding_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,299},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>Ding_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,299},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,49}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>Ding_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,299},{44,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>Ding_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,525},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>Ding_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,315},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{42,49}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>Ding_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,525},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>Ding_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,525},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>Ding_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,365},{24,39}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{24,39}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>caisebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,179},{186,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,184}}</string>
                <key>sourceSize</key>
                <string>{186,184}</string>
            </dict>
            <key>caisebg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,189},{137,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,151}}</string>
                <key>sourceSize</key>
                <string>{137,151}</string>
            </dict>
            <key>caiseup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{129,139}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{129,139}}</string>
                <key>sourceSize</key>
                <string>{137,151}</string>
            </dict>
            <key>caiseup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,342},{131,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{131,143}}</string>
                <key>sourceSize</key>
                <string>{137,151}</string>
            </dict>
            <key>fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{448,175}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{448,175}}</string>
                <key>sourceSize</key>
                <string>{496,187}</string>
            </dict>
            <key>iconbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,365},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,191},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,487},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>shuijing_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,423},{109,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{109,120}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>shuijing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,369},{111,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{111,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>shuijing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,299},{111,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{111,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>shuijing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,191},{111,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{111,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>shuijing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,369},{113,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{113,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>shuijing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,369},{111,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{111,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>shuijing_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{129,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,140}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>shuijingshuzi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,65},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>shuijingshuzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,525},{34,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{34,59}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>shuijingshuzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>shuijingshuzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{50,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>shuijingshuzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,128},{52,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,59}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>towerlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,179},{195,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,188}}</string>
                <key>sourceSize</key>
                <string>{195,188}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,187}}</string>
                <key>sourceSize</key>
                <string>{496,187}</string>
            </dict>
            <key>xuetiaobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,493},{125,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,20}}</string>
                <key>sourceSize</key>
                <string>{125,20}</string>
            </dict>
            <key>xuetiaoup.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,578},{125,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,20}}</string>
                <key>sourceSize</key>
                <string>{125,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Battle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84f6d80341c09c2c452e65483b246634$</string>
            <key>textureFileName</key>
            <string>Battle.png</string>
        </dict>
    </dict>
</plist>
