<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,112}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>C2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,116},{76,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{76,112}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>C2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{76,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{76,112}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>C2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{68,112}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{68,112}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cd233d751dc552572b6631101797eb0$</string>
            <key>textureFileName</key>
            <string>C2.png</string>
        </dict>
    </dict>
</plist>
