<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChoseStatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>choseTower_iconbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,164},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>herotype1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,150},{47,63}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{47,63}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotype2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,929},{75,73}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{75,73}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotype3.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,176},{69,73}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{69,73}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotype4.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,929},{69,73}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{69,73}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotypebg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,400},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotypebg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,311},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotypebg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,378},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotypebg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,311},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>listitem_chose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,41},{173,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,107}}</string>
                <key>sourceSize</key>
                <string>{173,107}</string>
            </dict>
            <key>listitem_nochose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{173,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,107}}</string>
                <key>sourceSize</key>
                <string>{173,107}</string>
            </dict>
            <key>noadd.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,283},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{102,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>scrollbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{25,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,586}}</string>
                <key>sourceSize</key>
                <string>{25,586}</string>
            </dict>
            <key>srollup.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,41},{25,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,133}}</string>
                <key>sourceSize</key>
                <string>{25,133}</string>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{70,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>texture_chuzhan_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{198,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,51}}</string>
                <key>sourceSize</key>
                <string>{198,51}</string>
            </dict>
            <key>texture_chuzhan_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{654,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,37}}</string>
                <key>sourceSize</key>
                <string>{654,37}</string>
            </dict>
            <key>texture_chuzhan_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,295},{102,41}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,41}}</string>
                <key>sourceSize</key>
                <string>{110,41}</string>
            </dict>
            <key>texture_chuzhan_title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,169},{110,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,40}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>texture_cost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,269},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_cost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,269},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_cost_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,280},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_cost_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,253},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_cost_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,211},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_hero_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,169},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,286},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,264},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,155},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,155},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,166},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,55},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,55},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,150},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_spell_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,41},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_spell_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,41},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChoseTower.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33662bcf9544f3f9cf390c1e09b4dc99$</string>
            <key>textureFileName</key>
            <string>ChoseTower.png</string>
        </dict>
    </dict>
</plist>
