<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spell_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,681}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,681}}</string>
                <key>sourceSize</key>
                <string>{228,701}</string>
            </dict>
            <key>Spell_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{210,681}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{210,681}}</string>
                <key>sourceSize</key>
                <string>{228,701}</string>
            </dict>
            <key>Spell_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{208,681}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{208,681}}</string>
                <key>sourceSize</key>
                <string>{228,701}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Spell_1_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bab657137dc4cfcecc315ba4df91b318$</string>
            <key>textureFileName</key>
            <string>Spell_1_1.png</string>
        </dict>
    </dict>
</plist>
