<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spell_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,957},{275,161}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,114},{275,161}}</string>
                <key>sourceSize</key>
                <string>{491,341}</string>
            </dict>
            <key>Spell_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{275,165}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,115},{275,165}}</string>
                <key>sourceSize</key>
                <string>{491,341}</string>
            </dict>
            <key>Spell_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{221,247}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,33},{221,247}}</string>
                <key>sourceSize</key>
                <string>{491,341}</string>
            </dict>
            <key>Spell_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,307},{481,327}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{481,327}}</string>
                <key>sourceSize</key>
                <string>{491,341}</string>
            </dict>
            <key>Spell_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{481,327}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{481,327}}</string>
                <key>sourceSize</key>
                <string>{491,341}</string>
            </dict>
            <key>Spell_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{479,325}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{479,325}}</string>
                <key>sourceSize</key>
                <string>{491,341}</string>
            </dict>
            <key>Spell_1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,636},{479,319}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{479,319}}</string>
                <key>sourceSize</key>
                <string>{491,341}</string>
            </dict>
            <key>Spell_1_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{487,303}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{487,303}}</string>
                <key>sourceSize</key>
                <string>{491,341}</string>
            </dict>
            <key>Spell_1_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,285}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{489,285}}</string>
                <key>sourceSize</key>
                <string>{491,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Spell_1_2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ed150839961b34173d67ac90d284597$</string>
            <key>textureFileName</key>
            <string>Spell_1_2.png</string>
        </dict>
    </dict>
</plist>
