<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bjz_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>bjz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,202},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>bjz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,202},{42,14}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{42,14}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>bjz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>bjz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,152},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>bjz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,52},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>bjz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>bjz_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>bjz_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{44,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>bjz_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,102},{56,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>bjz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BZ.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4979907879a75a3d0b091ada4c1a78c8$</string>
            <key>textureFileName</key>
            <string>BZ.png</string>
        </dict>
    </dict>
</plist>
