<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{78,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{78,24}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>u0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{120,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{120,38}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>u0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{122,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>u0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{118,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>u0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{120,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C10000.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2126fc94217c84228a935d0fb01704b$</string>
            <key>textureFileName</key>
            <string>C10000.png</string>
        </dict>
    </dict>
</plist>
