<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jxz_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,39},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>jxz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,66},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>jxz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,39},{30,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{30,25}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>jxz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>jxz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,113},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>jxz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,76},{42,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>jxz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>jxz_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>jxz_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>jxz_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>jxz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JZ.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e240bd40c2125e73e4a66a550985599d$</string>
            <key>textureFileName</key>
            <string>JZ.png</string>
        </dict>
    </dict>
</plist>
