<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{256,28}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>line_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,92},{256,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{256,28}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,62},{256,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{256,28}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,32},{256,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{256,28}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{256,28}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>line_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{256,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{256,28}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>line_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{256,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{256,28}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>line_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{256,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{256,28}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>line_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,32},{256,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{256,26}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>line_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{256,28}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Line.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c46d0ce6dfdc98f13ae03fc1844e2466$</string>
            <key>textureFileName</key>
            <string>Line.png</string>
        </dict>
    </dict>
</plist>
