<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet_3003_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,92},{58,64}}</string>
                <key>offset</key>
                <string>{-7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,52},{58,64}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>Bullet_3003_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{86,88}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,40},{86,88}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>Bullet_3003_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,158},{100,98}}</string>
                <key>offset</key>
                <string>{-14,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,36},{100,98}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>Bullet_3003_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,290},{112,106}}</string>
                <key>offset</key>
                <string>{-12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{112,106}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>Bullet_3003_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{182,218}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{182,218}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>Bullet_3003_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,230}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{194,230}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>Bullet_3003_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,156},{206,132}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{206,132}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>Bullet_3003_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,80},{212,74}}</string>
                <key>offset</key>
                <string>{-4,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,74}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>Bullet_3003_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{218,76}}</string>
                <key>offset</key>
                <string>{1,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,76}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bullet_3003_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3423658d6db34a68755dc496f52ce68$</string>
            <key>textureFileName</key>
            <string>Bullet_3003_2.png</string>
        </dict>
    </dict>
</plist>
