<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ASkill_1003_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,197},{103,133}}</string>
                <key>offset</key>
                <string>{-25,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{103,133}}</string>
                <key>sourceSize</key>
                <string>{263,251}</string>
            </dict>
            <key>ASkill_1003_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,243},{135,179}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,31},{135,179}}</string>
                <key>sourceSize</key>
                <string>{263,251}</string>
            </dict>
            <key>ASkill_1003_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{193,193}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{193,193}}</string>
                <key>sourceSize</key>
                <string>{263,251}</string>
            </dict>
            <key>ASkill_1003_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{255,249}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{255,249}}</string>
                <key>sourceSize</key>
                <string>{263,251}</string>
            </dict>
            <key>ASkill_1003_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,239}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,239}}</string>
                <key>sourceSize</key>
                <string>{263,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ASkill_1003_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9744691832a1678767c0bb23724dc295$</string>
            <key>textureFileName</key>
            <string>ASkill_1003_2.png</string>
        </dict>
    </dict>
</plist>
