<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ASkill_2001_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1062},{112,638}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{112,638}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
            <key>ASkill_2001_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,598},{202,262}}</string>
                <key>offset</key>
                <string>{0,-197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,416},{202,262}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
            <key>ASkill_2001_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,698},{194,222}}</string>
                <key>offset</key>
                <string>{-3,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,451},{194,222}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
            <key>ASkill_2001_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,862},{184,216}}</string>
                <key>offset</key>
                <string>{3,-217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,459},{184,216}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
            <key>ASkill_2001_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,862},{114,198}}</string>
                <key>offset</key>
                <string>{-8,-225}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,476},{114,198}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
            <key>ASkill_2001_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{220,594}}</string>
                <key>offset</key>
                <string>{-17,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{220,594}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
            <key>ASkill_2001_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,392},{248,676}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{248,676}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
            <key>ASkill_2001_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,692}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,1},{270,692}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
            <key>ASkill_2001_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{250,410}}</string>
                <key>offset</key>
                <string>{-20,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,275},{250,410}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
            <key>ASkill_2001_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{258,388}}</string>
                <key>offset</key>
                <string>{-18,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,290},{258,388}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
            <key>ASkill_2001_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,414},{208,282}}</string>
                <key>offset</key>
                <string>{-7,-199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,408},{208,282}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
            <key>ASkill_2001_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{208,280}}</string>
                <key>offset</key>
                <string>{-3,-201}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,411},{208,280}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
            <key>ASkill_2001_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{206,262}}</string>
                <key>offset</key>
                <string>{-2,-195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,414},{206,262}}</string>
                <key>sourceSize</key>
                <string>{300,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ASkill_2001_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b040ee640d5711f827dc7c8f7ab289db$</string>
            <key>textureFileName</key>
            <string>ASkill_2001_1.png</string>
        </dict>
    </dict>
</plist>
