<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ASkill_3001_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,90},{116,35}}</string>
                <key>offset</key>
                <string>{-80,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{116,35}}</string>
                <key>sourceSize</key>
                <string>{276,49}</string>
            </dict>
            <key>ASkill_3001_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,104},{250,15}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,15}}</string>
                <key>sourceSize</key>
                <string>{276,49}</string>
            </dict>
            <key>ASkill_3001_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{196,45}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{196,45}}</string>
                <key>sourceSize</key>
                <string>{276,49}</string>
            </dict>
            <key>ASkill_3001_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,53},{276,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,49}}</string>
                <key>sourceSize</key>
                <string>{276,49}</string>
            </dict>
            <key>ASkill_3001_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{276,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,49}}</string>
                <key>sourceSize</key>
                <string>{276,49}</string>
            </dict>
            <key>ASkill_3001_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{276,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,49}}</string>
                <key>sourceSize</key>
                <string>{276,49}</string>
            </dict>
            <key>ASkill_3001_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,49}}</string>
                <key>sourceSize</key>
                <string>{276,49}</string>
            </dict>
            <key>ASkill_3001_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,49},{268,39}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{268,39}}</string>
                <key>sourceSize</key>
                <string>{276,49}</string>
            </dict>
            <key>ASkill_3001_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{260,27}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{260,27}}</string>
                <key>sourceSize</key>
                <string>{276,49}</string>
            </dict>
            <key>ASkill_3001_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{258,21}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{258,21}}</string>
                <key>sourceSize</key>
                <string>{276,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ASkill_3001_1.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04d289e9c14b93a7fde8f611ea84734a$</string>
            <key>textureFileName</key>
            <string>ASkill_3001_1.png</string>
        </dict>
    </dict>
</plist>
