<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>choseTower_iconbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>herotype1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{47,63}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{47,63}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotype2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,124},{75,73}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{75,73}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotype3.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,209},{69,73}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{69,73}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotype4.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,199},{69,73}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{69,73}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotypebg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,855},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotypebg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,590},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotypebg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,590},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotypebg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,590},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>listitem_chose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,746},{173,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,107}}</string>
                <key>sourceSize</key>
                <string>{173,107}</string>
            </dict>
            <key>listitem_nochose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,860},{173,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,107}}</string>
                <key>sourceSize</key>
                <string>{173,107}</string>
            </dict>
            <key>noadd.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,741},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{102,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>scrollbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{25,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,586}}</string>
                <key>sourceSize</key>
                <string>{25,586}</string>
            </dict>
            <key>srollup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{25,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,133}}</string>
                <key>sourceSize</key>
                <string>{25,133}</string>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,124},{70,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>texture_chuzhan_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{198,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,51}}</string>
                <key>sourceSize</key>
                <string>{198,51}</string>
            </dict>
            <key>texture_chuzhan_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{654,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,37}}</string>
                <key>sourceSize</key>
                <string>{654,37}</string>
            </dict>
            <key>texture_chuzhan_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,704},{102,41}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,41}}</string>
                <key>sourceSize</key>
                <string>{110,41}</string>
            </dict>
            <key>texture_chuzhan_title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,704},{110,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,40}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>texture_cost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,699},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_cost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,704},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_cost_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,975},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_cost_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,975},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_cost_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,704},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_hero_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,590},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,746},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,861},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,590},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,747},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,590},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,879},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,765},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,879},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_spell_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,765},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_spell_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChoseTower.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a81849ff55bece30d31f9d2d82597e21$</string>
            <key>textureFileName</key>
            <string>ChoseTower.png</string>
        </dict>
    </dict>
</plist>
