<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChoseStatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,612},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>choseTower_iconbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,701},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>herotype1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,643},{47,63}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{47,63}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotype2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,776},{75,73}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{75,73}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotype3.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,983},{69,73}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{69,73}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotype4.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,908},{69,73}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{69,73}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotypebg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1267},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotypebg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1172},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotypebg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1165},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>herotypebg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1121},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,55},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>listitem_chose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,339},{173,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,107}}</string>
                <key>sourceSize</key>
                <string>{173,107}</string>
            </dict>
            <key>listitem_nochose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,230},{173,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,107}}</string>
                <key>sourceSize</key>
                <string>{173,107}</string>
            </dict>
            <key>noadd.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1163},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{102,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>scrollbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,55},{25,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,586}}</string>
                <key>sourceSize</key>
                <string>{25,586}</string>
            </dict>
            <key>srollup.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,708},{25,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,133}}</string>
                <key>sourceSize</key>
                <string>{25,133}</string>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,823},{70,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>texture_chuzhan_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{198,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,51}}</string>
                <key>sourceSize</key>
                <string>{198,51}</string>
            </dict>
            <key>texture_chuzhan_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{654,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,37}}</string>
                <key>sourceSize</key>
                <string>{654,37}</string>
            </dict>
            <key>texture_chuzhan_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1230},{102,41}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,41}}</string>
                <key>sourceSize</key>
                <string>{110,41}</string>
            </dict>
            <key>texture_chuzhan_title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1004},{110,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,40}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>texture_cost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1130},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_cost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1121},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_cost_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1088},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_cost_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1079},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_cost_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1046},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>texture_hero_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,965},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1082},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1051},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,968},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,937},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,890},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,854},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,823},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_hero_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,740},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_spell_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,851},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_spell_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,776},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xinshouyindao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{804,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,231}}</string>
                <key>sourceSize</key>
                <string>{804,231}</string>
            </dict>
            <key>xinshouyindao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{804,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,231}}</string>
                <key>sourceSize</key>
                <string>{804,231}</string>
            </dict>
            <key>xinshouyindao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{804,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,231}}</string>
                <key>sourceSize</key>
                <string>{804,231}</string>
            </dict>
            <key>xinshouyindao_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,448},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>xinshouyindao_ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{471,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,412}}</string>
                <key>sourceSize</key>
                <string>{471,412}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChoseTower.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c653aed77e78370faf4d140457351fca$</string>
            <key>textureFileName</key>
            <string>ChoseTower.png</string>
        </dict>
    </dict>
</plist>
