<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_crystal_shuijing_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,374},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,250},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,374},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,250},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,374},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,250},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,126},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,126},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,126},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,374},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,250},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,126},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{109,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,124}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,374},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,250},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,126},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,374},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,250},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,126},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{109,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,124}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,374},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,250},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,126},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,374},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,250},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,126},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,124}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>UI_crystal_shuijing_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{109,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,122}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BattleShuiJing.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:711c04a8866eb8c1a78888d291be286b$</string>
            <key>textureFileName</key>
            <string>BattleShuiJing.png</string>
        </dict>
    </dict>
</plist>
